.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    min-width: 24px;
    height: 24px;
    background-color: #fff;
    mask-image: url(../images/sprite.svg#icon-check);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color .3s;
  }

  &--arrow-right {
    &::before {
      order: 2;
      mask-image: url(../images/arrow-left.svg);
    }
  }
}

html {
  overflow: hidden;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 5px;
}

body {
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 100vh;
  font-family: 'SFPro Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

// .header,
section {
  min-height: 100vh;
  padding-top: 110px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.second-slide {
  transition: transform 1.5s ease-in-out;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  justify-content: center;

  &.active {
    position: relative;
    visibility: visible;
    opacity: 1;
    transform: translateX(-100%);
  }

  &::before {
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(144, 61, 19, 0.50);
    backdrop-filter: blur(25px);
  }
}

.slide {
  position: relative;

  &::after {
    content: '';
    background-image: url(../images/slide-decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
  }

  &.active {
    &::after {
      animation: fadeIn 1s 2s forwards;
    }
  }

  &__inner {
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    gap: 40px;
    opacity: 0;
    transition: opacity .5s ease-in-out;

    &.show {
      opacity: 1;
    }

    &::before,
    &--second::before,
    &--third::before {
      font-family: 'Cormorant Bold', sans-serif;
      font-weight: 700;
      font-size: 400px;
      color: #fff;
      opacity: .5;
      position: absolute;
      top: -60%;
      right: 250px;
      z-index: -1;
    }

    &::before {
      content: '01';
    }
  }

  &__inner--second {
    &::before {
      content: '02';
    }
  }

  &__inner--third {
    &::before {
      content: '03';
    }
  }

  &__offer {
    align-items: center;
  }

  &__title {
    font-family: 'Cormorant Bold';
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 15px;

    &::before {
      content: '';
      position: absolute;
      max-width: 300px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__text {
    max-width: 452px;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: sans-serif;
  }

  &__btn {
    padding: 25px 95px;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
  }

  &__img {
    max-width: size(500, 400);
    max-height: size(500, 400);
  }
}

.swiper {
  overflow: visible;
  position: relative;

  &-wrapper {
    display: flex;
    justify-content: start;
  }

  &-slide {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}