.hero {
  background: linear-gradient(180deg, #DAB89A 44%, #FFF 100%);
  padding-top: 30px;
  min-height: 100vh;
  padding-top: 110px;
  width: 100%;
  overflow: hidden;
  transition: transform 1.5s ease-in-out;

  &__subtitle {
    font-weight: 700;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    max-width: 833px;
    margin: 0 auto;

    &.start {
      animation: subtitleRemove 2s ease-in-out forwards;
    }


    span {
      font-family: 'Georgia Bold Italic', serif;
      font-weight: 400;
      font-style: italic;
    }
  }

  &__title {
    font-family: 'Cormorant SemiBold', sans-serif;
    font-size: 320px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFF 8.44%, rgba(255, 255, 255, 0.27) 80.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    transition: transform 2s ease-in-out;
  }

  &__front {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 484px;
    width: 100%;
    z-index: 2;

    &.start {
      animation: frontStart 2s ease-in-out forwards;
    }
  }

  &__btn {
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 3;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 28px 200px;
  }
}

@keyframes frontStart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}